*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/*
App/.idea/
.idea/misc.xml
.idea/modules.xml
gradle/wrapper/gradle-wrapper.properties
app/local.properties
